body {
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	min-height: 100vh;
  	flex-direction: column;
	height: 100%;
	width: 100;
	margin: 0;
	padding: 0;
}

.app .v-separator {
	width: 3px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background: #fafafa;
	cursor: col-resize;
}

.content {
	flex: 1;
	display: flex;
}

.queryBuilderContainer {
	max-width: 50%;
	flex-basis: 50%;
}

.queryResultsContainer {
	max-width: 50%;
	flex-basis: 50%;	
}


.ReactModal__Overlay {
	z-index: 99;
}