body {
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	min-height: 100vh;
  	flex-direction: column;
	height: 100%;
	width: 100;
	margin: 0;
	padding: 0;
}


.content {
	flex: 1;
	display: flex;
}

.queryBuilderContainer {
	max-width: 50%;
	flex-basis: 50%;
}

.queryResultsContainer {
	max-width: 50%;
	flex-basis: 50%;	
}


.ReactModal__Overlay {
	z-index: 99;
}